h1{
   color: #22A699; -webkit-text-stroke-color: rgba(0, 0, 0, 0.473); -webkit-text-stroke-width: 0.6px; font-family: cursive;
}
*{
    background-color:  #F2BE22;
}
li{
    -webkit-text-fill-color: rgb(2, 2, 2);
    text-align: justify; font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 190px; height: 240px; border:5px solid #dad0ae; padding:-1px; margin: 2px; 
}
h2[value="1"]
{
   -webkit-text-fill-color: #F24C3D
}
h2
{
   -webkit-text-fill-color: #22A699;
}
*{
    text-align: center;
}
